.slider-container{
  width: 50vw;
  height: 50vw;
  margin: auto;
  display: flex;
  align-items: center;
}
.slide{
  width: 100%;
  height: 100%;
}
.slide>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn{
  border: 0;
  background-color: transparent;
}